.container {
  font-family: "Montserrat", sans-serif;
}

.weatherContainer {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}
